@page
@model PersonalDataModel
@{
    ViewData["Title"] = "thông tin cá nhân";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Tài khoản của bạn có thể Download hoặc xóa vĩnh viễn</p>
        <p>
            <strong>Lưu ý xóa tài khoản không thể phục hồi</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Tải dữ liệu</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Xóa</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
