@page "/Khongtruycap.html/"
@model AccessDeniedModel
@{
    ViewData["Title"] = "Bạn không phải Admin nên không được truy cập";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Vui lòng báo quản trị để cấp quyền User.</p>
</header>
