@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu thành công";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu đã that đổi <a asp-page="./Login">vui lòng đăng nhập lại</a>.
</p>
